.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tab::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 12px;
  left: 0;
  background-color: transparent; 
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.4s ease;
}

.Tab:hover::before {
  transform: scaleX(1);
  background-color: #000; 
}
/* Hide default Swiper navigation buttons */


/* Adjust the size and style of Swiper navigation arrows */
.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
  font-size: 14px; /* Adjust the font size as per your preference */
  width: 50px; /* Adjust the width as per your preference */
  height: 30px; /* Adjust the height as per your preference */
  
  font-weight:900;
  color: black;
  border-radius: 50%; /* Make the arrow shape circular */
  border: 1px solid grey; /* Add a black border around the arrow */
  display: flex;
  justify-content: center;
  align-items: center;
  
}














